.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
customizations/setup-etsy.el
elpa/
env
eshell/
history
network-security.data
tramp
url/
vendor/